/*  your css code here. If applicable */
#grid{
   display:grid;
   grid-template-columns:repeat(4, 242.5px);
   grid-template-rows:repeat(5, 124px);	
	gap:10px;
}
.item1{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

	grid-column: span 4;
}
.item2{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;
	grid-row: 2 / span 4;
	grid-column: span 4;
}
.item3{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

}
.item4{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

	grid-column: span 2;
}
.item5{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

	grid-column: span 2;
}
.item6{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

}
.item7{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

}
.item8{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

}
.item9{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

}
.item10{
	border:2px solid white;
	background-color:green;
	color:white;
	padding:5px;

	grid-column: span 3;	
}

